.recipe-preview-container {
	display: flex;
	padding: 10px;
	width: 40%;
	flex-direction: column;
	align-items: center;
	border: 1px solid;
	&:hover {
		cursor: pointer;
	}
	.recipe-preview-header {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.recipe-preview-body {
		display: flex;
		width: 100%;
		flex-direction: column;
		img {
			width: 100%;
			margin: 20px 0;
		}
	}
	.ingredients-container {
		padding: 0;
		display: flex;
		flex-direction: column;
		width: 30%;
		align-self: center;
		margin: 10px 0;
		h3 {
			margin-bottom: 10px;
		}
		.list-item {
			padding: 0;
			margin: 0;
			list-style-type: '-';
			list-style-position: inside;
		}
	}
}
