.saved-recipes-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 20px;
	margin: 70px 0;
	.bookmark-recipe-container {
		width: 40%;
		margin-bottom: -20px;
		display: flex;
		.bookmark-icon {
			font-weight: 100;
			margin-left: auto;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
