.create-recipe-form-container {
	padding: 70px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		margin: 15px 0;
	}
	.form-container {
		width: 30%;
		display: flex;
		flex-direction: column;
		.input-field {
			height: 24px;
			margin: 10px 0;
			width: 100%;
			&:focus {
				outline: none;
			}
		}
		.add-ingredient-btn {
			height: 28px;
			&:hover {
				cursor: pointer;
			}
		}
		.text-input-field {
			resize: none;
			min-height: 24px;
			margin: 10px 0;
			height: fit-content;
			&:focus {
				outline: none;
			}
		}
		.form-submit-btn {
			width: 120px;
			height: 40px;
			align-self: flex-end;
			margin: 10px 0;
			&:hover {
				cursor: pointer;
			}
		}
		.cooking-time {
			text-align: center;
		}
	}
}
